.instagram_image{
	display:block;
	float:left;
	width:12.5%;
	height:auto;
	padding:0;
	margin-right:0!important;
	img{
		width:100%;
		height:auto;
		
		float:left;
		&:hover{
			opacity: 0.4;
		    filter: alpha(opacity=40); /* For IE8 and earlier */
		}
	}
	@include media($tablet) {
		width:25%
	}
	@include media($phone) {
		width:50%
	}
}