ul.image_container{
	width:100%;
	margin:0;
	padding:0;
	position: relative;
	li{
		margin: 0;
		padding: 0;
		width:100%;
		height:auto;
		position: relative;
		img{
			margin: 0;
			padding: 0;
			width:100%;
			height:auto;
			display: block;
		}
	}

	img[data-sizes="auto"] { display: block; }
}